.wangWrap{
    padding: 10px;
}
.wangWrap h1,.wangWrap h2,.wangWrap h3,.wangWrap h4,.wangWrap h5,.wangWrap h6{
    text-align: center;
}
.wangWrap p{
    line-height: 20px;
}
.wangWrap a{

}
.wangWrap img{

}